#ocean {
  background-image: url('../img/newBackground.png');
  width: 900px;
  height: 700px;
}
.player {
  position: absolute;
  width: 70px;
  height: 75px;
  background-image: url('../img/newPlayer.png');
}
.enemy {
  position: absolute;
  width: 70px;
  height: 75px;
  background-image: url('../img/newEnemy.png');
}
